@import './base.css';

body{
  background: #8a70e2;
  background: linear-gradient(128deg,#8a70e2 0%, #79a7cd 80%);
  background: -webkit-linear-gradient(128deg,#8a70e2 0%, #79a7cd 80%);
  background: -moz-linear-gradient(128deg,#8a70e2 0%, #79a7cd 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.done{
  text-decoration: line-through;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */
/* 
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


/* (`${tasksDone.length + '/' + tasks.length}`) */

